# API KEY
OPENAI_API_KEY=aaaaaaaaaaabbbbcccc
OLLAMA_API_KEY=null



# MODEL NAME
OPENAI_MODEL_DICT = {"GPT_4_MINI" : "gpt-4o-mini"}
OLLAMA_MODEL_DICT = {"GEMMA2" : "gemma2:latest", "DEEPSEEK_R1_5B" : "deepseek-r1:1.5b"}


